* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #232323;
    display: flex;
    justify-content: center;
}

header {
    color: tan;
    text-align: center;
}

h1 {
    font-size: 50px;
}

#comppred {
    display: flex;
    justify-content: center;
}

#predictButton, #complimentButton {
    background-color: tan;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
}

button:hover {
    cursor: pointer;
}

#addRoute {
    display: flex;
    justify-content: center;
    color: royalblue;
}

form {
    margin-left: 10px;
}

#routes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.route-image {
    width: 200px; 
    height: 300px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.route-card {
    background-color: blanchedalmond;
    width: 200px;
    margin: 20px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.route-name {
    font-size: 18px;
    margin: 5px 0;
}

.route-diff {
    font-size: 15px;
    margin: 5px 0;
}

.route-ticks {
    font-size: 15px;
    margin: 5px 0;
}

.btns-container {
    width: 100%; 
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
}

.btns-container > button {
    width: 20px;
}