* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #232323;
    display: flex;
    justify-content: center;
}

header {
    color: tan;
    text-align: center;
}

h1 {
    font-size: 50px;
}

#comppred {
    display: flex;
    justify-content: center;
}

#predictButton, #complimentButton {
    background-color: tan;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
}

button:hover {
    cursor: pointer;
}

#addRoute {
    display: flex;
    justify-content: center;
    color: royalblue;
}

form {
    margin-left: 10px;
}